body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    margin-right: 76px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.studio {
    color: #2e2f42;
}
.silka{
    padding: 24px 0;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
}
.silka:hover, .silka:focus{
    color: #404bbf;
}


.address {
    font-style: normal;
}

.addr  {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.addr:hover, .addr:focus  {
    color: #404bbf
}

.sect {
    padding: 188px 0;
    background-color: #2e2f42;
}

.zag {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;

}

.button:hover,
.button:focus {
    background-color: #404BBF
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.zagolovokhh {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragg {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.secti {
    background-color: #F4F4FD;
    padding: 120px 0;
    margin-bottom: 8px;

}

.zagolovokhtwo {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    width: calc((100% - 48px) / 3);
}

.section{
    padding: 120px 0;
}

.zagg {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.paragtwo {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.foot {
    background-color: #2e2f42;
    padding: 100px 0;
}

.studiofoot {
    color: #f4f4fd;
}

.paragfoot {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.paragraph{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
img{
    display: block;
}
.head{
border-bottom: 1px solid #e7e9fc
}
.container{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.navigation{
    display: flex;
    align-items: center;
}
.linkstudio{
    display: flex;
    gap: 40px;
}
.adresspisok{
    display: flex;
    gap: 40px;
}
.spisoktwo{
    display: flex;
    gap: 24px;
    padding: 0;
}
.spisokkont{
    flex-basis: calc((100% - 72px) / 4);
}

.spisokthree{
    display: flex;
    gap: 24px;
    padding: 0;
}
.listsec {
    background-color: #FFFFFF;
    width: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 72px) / 4);
}
.forname{
    padding: 32px 0;
}
.sectio{
    padding-top: 120px;
    padding-bottom: 120px;
}
.spisokfour{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
}
.spisokkonttwo{
    width: calc((100% - 48px) / 3);
    flex-basis: calc((100% - 48px) / 3);
}
.containercontent{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
